---
import  ProjectCard from "../generic/ProjectCard.astro";
const projects = [
    {
        title: "No Need For Rogues",
        description: "Jeu multijoueur en 3D, avec un chat vocal de proximité et reconnaissance vocale pour lancer des sorts.",
        technologies: ["Unity", "C#","Multijoueur", "Projet Perso"],
        link: "#"
    },
    {
        title: "Auto QCM", 
        description: "Outil de création de QCM avec IA, intégration Moodle/AMC, et pitch commercial pour développer des compétences en vidéo.",
        technologies: ["Django", "Equipe","BUT","Montage"],
        link: "#"
    },
    {
        title: "Site Web locur4iot", 
        description: "Réalisation d'un site web interne pour la visualisation des données de capteurs de distance en intérieur.",
        technologies: ["PHP", "JavaScript","BUT","Equipe"],
        link: "#"
    },
    {
        title: "Countdown Crew",
        description: "Jeu multijoueur de coopération, où un joueur doit désamorcer une bombe en communiquant avec un autre joueur qui a le manuel.",
        technologies: ["Unity", "C#","Multijoueur", "Projet Perso"],
        link: "#"
    },
    {
        title: "Tests de Shaders",
        description: "Tests de création de différents shaders.",
        technologies: ["GLSL", "Projet Perso"],
        link: "#"
    },
    {
        title: "Flappy Bird",
        description: "Création d'un jeu simple en cours de multimédia.",
        technologies: ["Unity","C#", "BUT"],
        link: "#"
    },
    {
        title: "Mise en place d'une machine virtuelle",
        description: "Projet de création d'une machine virtuelle Ubuntu avec la création d'utilisateurs avec des droits différents.",
        technologies: ["Shell","VM", "BUT","Equipe"],
        link: "#"
    },
    {
        title: "Création d'un pipeline CI/CD",
        description: "Mise en place d'un système d'intégration et de déploiement continu sur un projet.",
        technologies: ["Docker","Gitlab","CI/CD", "BUT", "Angular"],
        link: "#"
    },
    {
        title: "Création d'un site web Angular",
        description: "Projet d'introduction à Angular, avec comme object la réalisation d'un site web pour gérer des exercices de routines sportives.",
        technologies: ["Angular","TypeScript", "BUT"],
        link: "#"
    },
    {
        title: "Création de tests BDD",
        description: "Création de tests Cucumber en Gherkin pour valider les User Stories du projet AUTO QCM.",
        technologies: ["Gherkin","Python", "BUT","Equipe"],
        link: "#"
    },
    {
        title: "Application de stockage de lecture",
        description: "Création d'une application Android Studio pour stocker des liens vers des sites de lecture.",
        technologies: ["Java", "Projet Perso"],
        link: "#"
    },
    {
        title: "Projet gestion de plats et menus",
        description: "Création d'une application en spring pour gérer des plats et des menus.",
        technologies: ["Java","Spring", "BUT"],
        link: "#"
    },
    {
        title: "Maintenance applicative",
        description: "Réalisations de tests unitaires et tests de fonctionnement sur une application existante.",
        technologies: ["Vue","Pinia","Tests", "BUT"],
        link: "#"
    },
    {
        title: "Création d'un site web pour salle de sport",
        description: "Création d'un site web avec un backend en PHP/Symfony et une base de données MariaDB, une API REST et un frontend en Angular.",
        technologies: ["PHP","MariaDB","Angular", "BUT","Equipe"],
        link: "#"
    }
];
---
<section id="projects" class="py-20">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-12">Mes Projets</h2>
        <div class="grid md:grid-cols-2 gap-8 max-w-4xl mx-auto">
            {projects.map((project) => (
                <ProjectCard 
                    title={project.title} 
                    description={project.description} 
                    link={project.link}
                    technologies={project.technologies}
                />
            ))}
        </div>
    </div>
</section>