---
import "../styles/global.css";
import Header from '../components/Header.astro';
---
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Site Portfolio</title>
</head>
<body class="bg-white text-gray-900">
    <Header />
    <!-- Mettre un composant qui va recup en fonction du slug du projet ? -->
</body>
</html>