---
import { Image } from "astro:assets";
---
<footer class="text-center mt-16 text-gray-500">
    <div class="container mx-auto px-4">
        <p>&copy; {new Date().getFullYear()} Nathan Pagnucco. Tous droits réservés.</p>
        <a href="http://www.freepik.com">Home image designed by rawpixel.com / Freepik</a>
        <div class="mt-4 flex justify-center space-x-4">
            <a href="https://fr.linkedin.com/in/nathan-pagnucco-53b7ab265" class="hover:text-blue-500" aria-label="LinkedIn">
                <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" width={64} height={64} class="w-6 h-6" />
            </a>
            <a href="https://github.com/November304" class="hover:text-blue-500" aria-label="GitHub">
                <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" width={64} height={64} class="w-6 h-6" />
            </a>
        </div>
    </div>
</footer>
